.header {
    background-image: url(../img/XesterUI_belay_black.png);
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
	background-color: black;
}