<div id="navSidebar" class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <h4>User</h4>
    <div>
        <ul class="nav nav-sidebar">
            <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->

            <li><a id="TestSuiteStatus" href="index.php">Test Status</a></li>
            <li><a id="Systems" href="Systems.php">Systems</a></li>
        </ul>
    </div>
    <h4>Admin</h4>
    <div>
        <ul class="nav nav-sidebar">
            <li><a id="Targets" href="targets.php">Targets</a></li>
        </ul>
    </div>
</div>


